﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="/api" target="_blank" class="ml-md-auto">Web api</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
