﻿@page "/book"
@inject HttpClient Http
@using AirportParking.Shared;

<h1>Book</h1>

@if (Aircraft == null)
{
    <p>Loading..</p>
}
else
{
    @this.ErrorMessage

    @if (!string.IsNullOrWhiteSpace(this.ErrorMessage))
    {
        <div class="alert alert-danger mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>@this.ErrorMessage</strong>
        </div>
    } @if (!string.IsNullOrWhiteSpace(this.Message))
    {
        <div class="alert alert-success mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>@this.Message</strong>
        </div>
    }
    <form @onsubmit="BookSpace">
        <div class="form-group">
            <label for="airCraftType">Aircraft</label>
            <select @bind="SelectedAircraft" class="form-control" id="airCraftType" aria-describedby="airCraftTypeHelp">
                <option value="">Choose model of aircraft</option>
                @foreach (var opt in Aircraft)
                {
                    <option value="@opt">@opt</option>
                }
            </select>
            <small id="airCraftTypeHelp" class="form-text text-muted">Aircraft list to book into a place.</small>
        </div>

        <div class="form-group">
            <label for="SelectedSpace">Space</label>
            <select @bind="SelectedSpace" class="form-control" id="SelectedSpace" aria-describedby="SelectedSpaceHelp">
                @if (AvailibleSpaces != null)
                {

                    @foreach (var grp in AvailibleSpaces.GroupBy(x => x.Size))
                    {
                        <optgroup label="@grp.Key">
                            @foreach (var space in grp)
                            {
                                <option value="@space.Id">
                                    @space.Name - @space.Location @if (BestSpace == space.Id)
                                    {<text>(best)</text>}
                                </option>
                            }
                        </optgroup>
                    }
                }
            </select>
            <small id="SelectedSpaceHelp" class="form-text text-muted">All available spaces this plane can fit in..</small>
        </div>

        <button type="submit" disabled="@(SelectedSpace == null)" class="btn btn-primary">Book space</button>
    </form>
}

@code {
    public IEnumerable<string> Aircraft { get; set; }
    private string selectedAircraft;
    public string SelectedAircraft
    {
        get => selectedAircraft;
        set
        {
            selectedAircraft = value;
            _ = AircraftChanged();
        }
    }

    public IEnumerable<ParkingSpace> AvailibleSpaces
    {
        get; set;
    }
    public Guid? SelectedSpace { get; set; }
    public Guid? BestSpace { get; set; }
    public string ErrorMessage { get; set; }
    public string Message { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Aircraft = await Http.GetFromJsonAsync<IEnumerable<string>>("Aircraft");


        await base.OnInitializedAsync();
    }

    private async Task AircraftChanged()
    {
        AvailibleSpaces = null;
        Message = null;
        ErrorMessage = null;
        BestSpace = SelectedSpace = null;
        if (this.selectedAircraft != null)
        {
            var availibilityResp = await Http.PostAsJsonAsync("Parking/FindSpace", new AvailibilityRequest
            {
                AircraftType = this.selectedAircraft
            });
            availibilityResp.EnsureSuccessStatusCode();
            var availibility = await availibilityResp.Content.ReadFromJsonAsync<ParkingSpaceAvailibility>();
            AvailibleSpaces = availibility.AvailibleSpaces;

            if (!AvailibleSpaces.Any())
            {
                ErrorMessage = "No spaces availible for this aircraft";
            }
            BestSpace = SelectedSpace = availibility.BestSpace?.Id;
        }
        this.StateHasChanged();
    }

    private async Task BookSpace()
    {
        if (this.SelectedSpace != null)
        {
            var availibilityResp = await Http.PostAsJsonAsync("Parking/Book", new BookingRequest
            {
                AircraftType = this.selectedAircraft,
                SpaceId = this.SelectedSpace.Value
            });

            if (availibilityResp.IsSuccessStatusCode)
            {
                SelectedAircraft = "";
                Message = "Space Booked";
            }
            else
            {
                ErrorMessage = await availibilityResp.Content.ReadAsStringAsync();
            }
        }

    }
}
