﻿@page "/"
@inject HttpClient Http
@using AirportParking.Shared;

<h1>Parking Spaces</h1>
@if (CurrentCapacity == null)
{
    <p>Loading..</p>
}
else
{
    @if (CurrentCapacity.Sum(x => x.Availible) == 0)
    {
        <div class="alert alert-error mt-4" role="alert">
            <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
            <strong>No spaces availible</strong>
        </div>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    Size
                </th>
                <th>
                    Availible
                </th>
                <th>
                    Max Capacity
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in CurrentCapacity)
            {
                <tr class="@(r.Availible < 2 ? "table-warning" : "") @(r.Availible < 1 ? "table-danger" : "")">
                    <td>@r.Size</td>
                    <td>@r.Availible</td>
                    <td>@(r.Availible + r.Booked)</td>
                </tr>
            }

        </tbody>
    </table>
}
@code{

    public IEnumerable<ParkingSpaceSizeCapacity> CurrentCapacity { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CurrentCapacity = await Http.GetFromJsonAsync<IEnumerable<ParkingSpaceSizeCapacity>>("Parking/Summary");

        var timer = new System.Threading.Timer(async (_) =>
        {
            CurrentCapacity = await Http.GetFromJsonAsync<IEnumerable<ParkingSpaceSizeCapacity>>("Parking/Summary");

            await InvokeAsync(StateHasChanged);
        }, null, 0, 1000);

        await base.OnInitializedAsync();
    }
}