﻿@page "/spaces"
@inject HttpClient Http
@using AirportParking.Shared;

<h1>All Spaces</h1>
@if (!string.IsNullOrWhiteSpace(this.ErrorMessage))
{
    <div class="alert alert-danger mt-4" role="alert">
        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
        <strong>@this.ErrorMessage</strong>
    </div>
}

@if (ParkingSpaces == null)
{
    <p>Loading..</p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Location
                </th>
                <th>
                    Size
                </th>
                <th>
                    Status
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>

            @foreach (var r in ParkingSpaces.OrderBy(c=>c.IsBooked))
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Location</td>
                    <td>@r.Size</td>

                    @if (r.IsBooked)
                    {
                        <td>
                            Booked
                        </td>
                        <td>
                            <button @onclick="@(()=> UnallocateSpace(r.Id))" class="btn btn-primary">Unallocate</button>
                        </td>
                    }
                    else
                    {
                        <td>
                            Availible
                        </td>
                        <td></td>
                    }
                </tr>
            }

        </tbody>
    </table>
}
@code{

    public IEnumerable<ParkingSpace> ParkingSpaces { get; set; }
    public string ErrorMessage { get; set; }
    private async Task UnallocateSpace(Guid id)
    {
        var res = await Http.PostAsJsonAsync("Parking/RemoveBooking", new RemoveBookingRequest()
        {
            SpaceId = id
        });

        ParkingSpaces = await Http.GetFromJsonAsync<IEnumerable<ParkingSpace>>("Parking");

        if (!res.IsSuccessStatusCode)
        {
            // it was already gone skip the error
            if (ParkingSpaces.Any(x => x.Id == id && x.IsBooked))
            {
                ErrorMessage = "Unable to remove allocation";
            }
        }

        ParkingSpaces = await Http.GetFromJsonAsync<IEnumerable<ParkingSpace>>("Parking");

    }
    protected override async Task OnInitializedAsync()
    {
        ParkingSpaces = await Http.GetFromJsonAsync<IEnumerable<ParkingSpace>>("Parking");


        await base.OnInitializedAsync();
    }
}